body{
  background:#0d1117;
  color:white;
  font-family:Arial;
  text-align:center;
}

.chatbox{
  width:90%;
  max-width:600px;
  height:400px;
  background:#161b22;
  margin:auto;
  overflow-y:auto;
  padding:10px;
  border-radius:10px;
}

.user{
  text-align:right;
  color:#00ffcc;
  margin:5px;
}

.bot{
  text-align:left;
  color:#ffffff;
  margin:5px;
}

.inputBox{
  margin-top:10px;
}

input{
  width:70%;
  padding:10px;
}

button{
  padding:10px;
}
